body {
}

:root{
    --primary: #08eddf;
    --secondary: #1e9898;
    --light: #e7eae8;
    --black: #000000;
}

.slider-img {
    height: 500px;
    width: auto;
}
.section_title{
    text-align: center;
    padding-top: 1.5rem;
    color: var(--primary);
}
.about_img {
   max-width: 550px;
   max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
    padding: 1rem;
}
.card-img{
    height: 320px;
    width: auto;
}